@import 'variables.scss';
@import 'mixin';

.page {
    display:grid;
    grid-template-columns: 310px 1fr;
    min-height:100vh;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font_type_regular;
    height: 100vh;
}



