$main-text-color: #999999;
$important-text-color: #1E1E1E;
$on-the-bright-text-color: #ffffff;
$main-background:#e5e5e5;
$active-background: #E4EDFD;
$important-background:#555555;
$main-accent-background: #3369F3;
$links-color: #3369F3;
