@import '../../common-styles/variables.scss';

.error {
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    

    &__title {
        color: $important-text-color;
        font-weight: 500;
        font-size: 40px;
        line-height:40px;
        margin: 0px 0px 20px;
    }

    &__subtitle {
        color: $important-text-color;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin: 0px 0px 69px;
    }

    &__link {
        font-weight: 500;
        font-size: 11px;
        color: $links-color;
        line-height: 11px;
        text-decoration: underline;
    }
}
