<div class="chat-header">
    <img src="{{ avatarUrl }}" alt="Аватар" class="chat-header__avatar">
    <h1 class="chat-header__name">{{ name }}</h1>
    <a href="#" class="chat-header__more"></a>
</div>