<div class="side-panel">
    {{>profile-menu}}
    {{>search-panel}}
    <section class="chats-list">
        {{#each messagesList}}
        {{>message message}}
        {{/each}}
    </section>
</div>
