@import '../../common-styles/variables.scss';
@import '../../common-styles/mixin.scss';
.message {
    border-top: 1px solid $important-background;
    display: flex;
    flex-direction: row;
    padding:12px 0px;

    &__img {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: $main-background;
        margin: 0px 10px 0px;
    }
    &__texts {
        flex-grow: 1;
    }
    &__name {
        @include font_type_important;
        margin: 0px 0px 4px;
    }
    &__text {
        @include font_type_regular;
        margin: 0px;
        color: $main-text-color;
    }
    &__direction {
        color: $important-text-color;
    }
    &__info {
        margin: 0px 0px 0px 27px;
    }
    &__time {
        font-size: 9px;
        line-height: 13px;
        font-weight: 500;
        color: $main-text-color;
    }
    &__time {
        font-size: 9px;
        line-height: 13px;
        font-weight: 500;
        color: $main-text-color;
        margin:0px;
    }
    &__amount {
        font-size: 11px;
        line-height: 12px;
        font-weight: 500;
        color: $on-the-bright-text-color;
        border-radius: 50%;
        background-color: $main-accent-background;
        height: 20px;
        width: 20px;
        margin:18px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
    }
}
